:root {
    --global-font-size: 20px;
    --global-line-height: 1.4em;
    --font-stack: Arial,sans-serif;
    --background-color: #fff;
    --font-color: #151515;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #222225;
        --font-color: #e8e9ed;
    }
}

.dark-mode {
    --background-color: #14143d;
    --font-color: #a6adc2;
}

.night-mode {
    --background-color: #2e143d;
    --font-color: #a696ad;
}

body {
    background-color: var(--background-color);
    font: var(--font-stack);
    color: var(--font-color);
    font-size: var(--global-font-size);
    line-height: var(--global-line-height);
}
body.night {
    background-color: #fff;
    font: Arial,sans-serif;;
    color: #151515;
    font-size: 20px;
    line-height: 1.4em;
}

section {
    padding: 1rem;
}