:root {
    --global-font-size: 18px;
    --global-line-height: 1.4em;
    --font-stack: Arial,sans-serif;
    --background-color: #222225;
    --font-color: #e8e9ed;
    --diff-color: #23f35f;
    --light-color: #8f8f8f;
}

body {
    background-color: var(--background-color);
    font: var(--font-stack);
    color: var(--font-color);
    font-size: var(--global-font-size);
    line-height: var(--global-line-height);
    margin: unset;
}
table {
    font-size: .75rem;
}
thead {
    text-align: left;
    font-weight: 600;
}

.criado {
    font-weight: 600;
}
    .criado--destaque {
        color: var(--diff-color);
    }
    .criado--desc {
        color: var(--light-color);
    }