:root {
    --global-font-size: 18px;
    --global-line-height: 1.4em;
    --font-stack: Arial,sans-serif;
    --background-color: #222225;
    --font-color: #e8e9ed;
    --diff-color: #23f35f;
}

body {
    background-color: var(--background-color);
    font: var(--font-stack);
    color: var(--font-color);
    font-size: var(--global-font-size);
    line-height: var(--global-line-height);
    margin: unset;
}

.criado {
    font-weight: 600;
    color: var(--diff-color);
}