:root {
    --global-font-size: 20px;
    --global-line-height: 1.4em;
    --font-stack: Arial,sans-serif;
    --background-color: #fff;
    --diff-backgorund: #666;
    --scroll-container-background: #888;
    --scroll-indicator-background: #23f35f;
    --font-color: #151515;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #222225;
        --font-color: #e8e9ed;
    }
}

body {
    background-color: var(--background-color);
    font: var(--font-stack);
    color: var(--font-color);
    font-size: var(--global-font-size);
    line-height: var(--global-line-height);
    margin: unset;
}

section.section {
    position: fixed;
    height: 10px;
    width: 100%;
    background-color: var(--scroll-container-background);
    z-index: 2;
}
    .section__scroll-indicator {
        height: 100%;
        width: 0%;
        background-color: var(--scroll-indicator-background);
    }

header {
    text-align: center;
    padding: 1rem;
    width: 100%;
    background: var(--diff-backgorund);
    transition: all .5s ease-in-out;
    z-index: 1;
}
    .header--position {
        position: fixed;
        top: 0;
        font-size: 1.4rem;
        line-height: 1.4;
    }
    .header--hidden {
        transform: translateY(-100%); 
    }
    .header--show {
        transform: translateY(0%);
    }
    .header--page-top {
        font-size: 2rem;
        line-height: 2;
    }

main {
    position: relative;
    top: 96px;
    padding: 1rem 1rem 1.75rem;
    transition: top .5s ease-in-out;
}
    .main--page-top {
        top: 0px;
    }

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform .5s ease-in-out;
    z-index: 1;
}
    .footer--position {
        position: fixed;
        bottom: 0;
    }
    .footer--hidden {
        transform: translateY(100%); 
    }
    .footer--show {
        transform: translateY(0%);
    }
    .footer__copy {
        font-size: 1rem;
        text-align: center;
        width: 100%;
        transition: opacity .5s ease-in-out;
    }
        .footer__copy--hidden {
            opacity: 0;
        }
        .footer__copy--show {
            opacity: 1;
        }
    .footer__to-top {
        width: auto;
        font-weight: 600;
        padding: .25rem .75rem 0;
        margin: 0 1rem 1rem 0;
        border-radius: .25rem;
        background-color: var(--diff-backgorund);
        cursor: pointer;
        user-select: none;
    }

p:first-child {
    margin-top: unset;
}

label {
    margin-right: .5rem;
}